.glide {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.glide__slide--active {
  border-radius: var(--border-radius);
  cursor: grab;
}

.glide__slide {
  border-radius: var(--border-radius);
}

.glide__arrow {
  position: absolute;
  top: 0;
  width: 90px;
  height: 100%;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: var(--border-radius);
  box-shadow: none;
}

.glide__arrow--right {
  right: 0;
}





/* //////////////////////////////////////// */







#main-section p {
  font-size: 1em;
  font-weight: 300;
  margin: 0.85em;
  line-height: 1.4em;
}

#main-section #events {
  font-size: 1em;
  font-weight: 300;
  margin: 0.85em;
  line-height: 1.4em;
}
#benifits{
  margin: 1em 0;
  font-size: 2em;
}






@media only screen and (max-width: 600px) {
  .glide__arrows {
    display: none;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
